<header>
        <h1>{{headingOne}}</h1>
        <div class="navBar">
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
</header>
