<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
            <img class="myImg"src="./img/myImg.jpg" alt="">
        </div>
        {{>footer}}
    </body>
</html>